input, .filter-btn, .save-config-btn {
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

/* Inputs */
input {
  padding: 8px 10px;
  width: 150px; /* padrão, pode ser ajustável via parent flex */
}

input:focus {
  border-color: #007bff;
}

/* Botões */
.filter-btn, .save-config-btn {
  display: flex;
  align-items: center;
  gap: 5px; /* se tiver ícone */
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-btn:hover, .save-config-btn:hover {
  background-color: #0056b3;
}
