.dashboard-sidebar {
  width: 300px;
  background-color: #2e2e33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 2rem;
}

.flex.h-full {
  display: flex;
  height: 100%;
  gap: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #27272a;
  border-radius: 12px;
}

.flex-1 {
  flex: 1;
  background-color: #2e2e33;
  border-radius: 12px;
  padding: 2rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tab-btn-vertical {
  width: 100%;
  padding: 0.9rem 1rem;
  margin-bottom: 3rem;
  background: #27272a;
  color: #ddd;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tab-btn-vertical:hover {
  background-color: #3b82f6;
  color: #fff;
}

.tab-btn-vertical.active {
  background-color: #2563eb;
  color: #fff;
}

.chart-wrapper,
.chart-wrapper-pie {
  margin: 3rem auto;
  max-width: 1200px;
  background-color: #27272a;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.chart-wrapper-pie {
  max-width: 800px;

}

.recharts-default-tooltip {
  background-color: #2e2e33 !important;
  border: none !important;
  border-radius: 8px !important;
  color: #fff !important;
}

.recharts-legend-item-text {
  color: #eee !important;
}

.recharts-cartesian-axis-tick-value {
  fill: #ccc !important;
}

.flex-1::-webkit-scrollbar {
  width: 8px;
}

.flex-1::-webkit-scrollbar-thumb {
  background: #3a3a3f;
  border-radius: 4px;
}

.flex-1::-webkit-scrollbar-thumb:hover {
  background: #4a4a50;
}