/* Estilos exclusivos do Login */

.top-right-links {
  position: fixed; 
  top: 20px; 
  right: 20px; 
  z-index: 1000; 
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.language-selector-wrapper {
  display: inline-flex; 
  margin: 0; 
  padding: 0;
}

.app-footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: auto; 
  background: transparent;
  color: #ccc;
}

.info-link {
  color:#fff;
}

.lock-icon {
  width: 50px;
  height: 50px;
}